@model IEnumerable<FA.JustBlog.Models.Category>

@foreach(var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" href="/Post/PostCategory/@item.CategoryId">@item.CategoryName</a>
            @*@Html.ActionLink(item.CategoryName,"Post")*@
        </li>
    }